<!DOCTYPE html>
<html>
<head>
  <title>CA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      #header .contents {
          width: 98%;
      }
      #container .contents {
          width: 98%;
          min-width:940px;
          max-width: 1196px;
      }
      #footer .contents {
          width: 98%;
      }
      .panelBase {
          border: 1px solid black;
      }
      .panelTitle {
          margin: 0 0 3px;
      }

      #header .contents {
      width: 98%;
      }
      #container .contents {
      width: 98%;
      min-width:940px;
      max-width: 1196px;
      }
      #footer .contents {
      width: 98%;
      }
      .panelBase {
      border: 1px solid black;
      }
      .panelTitle {
      margin: 0 0 3px;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
